appdirs
asn1crypto
astroid
attrs
black
boto3
botocore
certifi
cffi
chardet
Click
coverage
cryptography
defusedxml
dj-database-url
Django>=3.2,<4
django-allauth
django-cors-headers
django-heroku
django-rest-auth
django-storages
django-taggit
django-webpack-loader
djangorestframework
djangorestframework-jwt
docutils
gunicorn
idna
isort
jmespath
lazy-object-proxy
mccabe
oauthlib
Pillow
psycopg2
pycparser
PyJWT
pylint
pyOpenSSL
python-dateutil
python-decouple
python3-openid
pytz
requests
requests-oauthlib
s3transfer
six
stripe
toml
typed-ast
urllib3
whitenoise
wrapt
