<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} API Root {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Welcome to API root!</h1>
        <ul>
          <li>Accounts: <a href="/">/accounts/api/</a></li>
          <li>Orders: <a href="/">/orders/api/</a></li>
          <li>Carts: <a href="/">/carts/api/</a></li>
          <li>Addressess: <a href="/">/addresses/api/</a></li>
          <li>Newsletter: <a href="/">/newsletter/api/</a></li>
        </ul>
    </body>
</html>