<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} API Root {% endblock %}</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container my-4">
            <h1 class="text-center font-weight-bold">Welcome to API root!</h1>
            <ul class="mt-4 list-unstyled">
            <li class="py-2">Products: <a href="/api/products/">/api/products/</a></li>
            <li class="py-2">Accounts:
                <ul class="list-unstyled ml-5">
                    <li>Register new account: <a href="/api/accounts/register/">/api/accounts/register/</a></li>
                    <li>User details: <a href="/api/accounts/user/">/api/accounts/user/</a></li>
                    <li>Login: <a href="/api/accounts/login/">/api/accounts/login/</a></li>
                    <li>Logout: <a href="/api/accounts/logout/">/api/accounts/logout/</a></li>
                    <li>Change password: <a href="/api/accounts/password/change/">/api/accounts/password/change/</a></li>
                    <li>Reset password: <a href="/api/accounts/password/reset/">/api/accounts/password/reset/</a></li>
                </ul>
            </li>
            <li class="py-2">Newsletter: <a href="/api/subscribers/">/api/subscribers/</a></li>
            </ul>
        </div>
        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>