{% extends 'base.html' %}

{% block title %}
    Search results for '{{ request.GET.q }}'
{% endblock %}

{% block content %}
    {% if request.GET.q %}
        <h3>Search results for '{{ request.GET.q }}':</h3>
        <hr>
        <!-- Generic product listing template -->
        {% include 'products/products_list_generic.html' %}
        <!-- PAGINATION -->
        {% include 'products/pagination.html' %}
    {% else %}
        <h3>Search</h3>
        <hr>
        <form method="GET" action="{% url 'products:search' %}">
            <input type="text" class="form-control" placeholder="Search..." name="q">
        </form>
    {% endif %}
{% endblock %}
