{% extends 'base.html' %}

{% block content %}
    <div class='row'>
    {% for product in products %}
        <div class='col my-3'>
            <div class="card" style="width: 20rem;">
                {% if product.image %}
                    <a href="{{ product.get_absolute_url }}">
                        <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.title}} logo">
                    </a>
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">{{ product.title }}</h4>
                    <p class="card-text">{{ product.description|linebreaks|truncatewords:14 }}</p>
                    <div class='text-center'>
                        <a href="{{ product.get_absolute_url }}" class="btn btn-primary my-2">View</a>

                        <form class='form-product-ajax' method='POST' action='{% url "cart:update" %}' data-endpoint='{% url "cart:update" %}' class="form" {% if request.user.is_authenticated %}data-user='abc'{% endif %}>
                            {% csrf_token %}
                            <input type='hidden' name='product_id' value='{{ product.id }}' {% if  product.is_digital %}data-is-digital='true'{% endif %}/>
                            <span class='submit-span'>
                            {% if product in cart.products.all %}
                                <div class='btn-group'>
                                    <a class='btn btn-link' href='/cart/'>In cart</a>
                                    <button type='submit' class='btn btn-link'>Remove?</button>
                                </div>
                            {% else %}
                                <button type='submit'  class='btn btn-success'>Add to cart</button>
                            {% endif %}
                            </span>
                        </form>
                    </div>
                <!--  <a href="{# url 'products:detail' slug=product.slug  #}" class="btn btn-warning">URL shortcut</a> -->
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
