{% extends 'base.html' %}

{% block title %}
    Products in '{{ category }}'
{% endblock %}

{% block nav %}
    {% include 'snippets/nav.html' %}
{% endblock %}

{% block store-nav %}
    {% include 'snippets/store-nav.html' %}
{% endblock %}

<!-- Clear jumbotron -->
{% block jumbotron %} {% endblock %}

{% block content %}
<h3>Products in '{{ category }}':</h3>
<hr>
<div class='row'>
    <!-- Generic product listing template -->
    {% include 'products/products_list_generic.html' %}
    <!-- PAGINATION -->
    {# include 'products/pagination.html' #}
</div>
{% endblock %}
