<!-- Item grid -->
<ul class="item-grid list-unstyled mb-4">
    {% for product in products %}
        <li>
            <a href="{% url 'products:product_details' slug=product.slug %}" class="text-dark">
                <div class="card rounded-0">
                    {% if product.picture %}
                        <img class="card-img-top rounded-0" src="{{ product.picture.url }}" alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text"> {{ product.name }} </p>
                        <p class="card-text">
                            {{ product.description|linebreaks|truncatewords:14 }}
                        </p>
                        <!-- Add to cart button here... -->
                    </div>
                </div>
            </div>
        </a>
    </li>
    {% empty %}
    <p>No items to display.</p>
{% endfor %}
</ul>
