/* CUSTOM CSS STYLES */

.item-grid li .card {
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
}

@media(min-width:576px){
    .item-grid {
        margin: 0 20px 0 20px;
        -webkit-columns: 2 200px;
        -moz-columns: 2 200px;
        columns: 2 200px;

        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
    }

}

@media(min-width:768px){
    .item-grid {
        margin: 0 20px 0 20px;
        -webkit-columns: 3 200px;
        -moz-columns: 3 200px;
        columns: 3 200px;

        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
    }
}

@media(min-width:992px){
    .item-grid {
        margin: 0 20px 0 20px;
        -webkit-columns: 4 200px;
        -moz-columns: 4 200px;
        columns: 4 200px;

        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
    }
}
