/* CUSTOM CSS STYLES */
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.content {
  display: flex;
  min-height: 50vh;
  flex-direction: column;
}

.item-grid li .card {
  margin-bottom: 10px;
  width: 100%;
  display: inline-block;
}

@media (min-width: 576px) {
  .item-grid {
    margin: 0 20px 0 20px;
    -webkit-columns: 2 200px;
    -moz-columns: 2 200px;
    columns: 2 200px;

    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
}

@media (min-width: 768px) {
  .item-grid {
    margin: 0 20px 0 20px;
    -webkit-columns: 3 200px;
    -moz-columns: 3 200px;
    columns: 3 200px;

    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
}

@media (min-width: 992px) {
  .item-grid {
    margin: 0 20px 0 20px;
    -webkit-columns: 4 200px;
    -moz-columns: 4 200px;
    columns: 4 200px;

    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
  box-shadow: none;
}

.product-image {
  max-width: 100px;
}

input[type="number"] {
  text-align: center;
  min-width: 40px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  color: #0090C8;
  text-decoration: none;
}

a:hover {
  opacity: .7;
  text-decoration: none;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.cart {
  display: block;
  box-sizing: border-box;
}

@media (max-width: 991.98px) {
  .cart {
      overflow-x: auto;
  }
}

@media (max-width: 991.98px) {
  .cart-wrapper {
      min-width: 768px;
  }
}

.cart-header {
  text-transform: uppercase;
  font-weight: bold;
  padding: 1.2rem 2rem;
  border-bottom: 1px solid #e9ecef;
  text-align: center !important;
}

.cart-body {
  padding: 0 2rem;
}
.cart-item {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e9ecef;
}

.cart-title {
  margin-left: 1rem;
  color: rgb(22, 22, 22);
  font-weight: bold;
  text-align: left !important;
}