/* CUSTOM CSS STYLES */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

html {
  width: 100%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  /* letter-spacing: -0.05em; */
}

.content {
  display: flex;
  min-height: 50vh;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid li {
  display: flex;
  padding: 0.5rem;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .grid li {
    /* padding: 2rem; */
    width: 33%;
  }
}

@media (min-width: 992px) {
  .grid li {
    /* padding: 2rem; */
    width: 25%;
  }
}

.item-grid li .card {
  margin-bottom: 10px;
  width: 100%;
  display: inline-block;
}

@media (min-width: 576px) {
  .item-grid {
    margin: 0 20px 0 20px;
    -webkit-columns: 2 200px;
    -moz-columns: 2 200px;
    columns: 2 200px;

    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
}

@media (min-width: 768px) {
  .item-grid {
    margin: 0 20px 0 20px;
    -webkit-columns: 3 200px;
    -moz-columns: 3 200px;
    columns: 3 200px;

    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
}

@media (min-width: 992px) {
  .item-grid {
    margin: 0 20px 0 20px;
    -webkit-columns: 4 200px;
    -moz-columns: 4 200px;
    columns: 4 200px;

    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
}

.btn {
  border-radius: 0;
  border: 0;
}

.form-control {
  border-radius: 0;
  /* border: 1px solid #000; */
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.custom-select {
  border-radius: 0;
}

.product-image {
  max-width: 100px;
}

input[type="number"]:disabled {
  background: #fff;
}

input[type="number"] {
  text-align: center;
  min-width: 40px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  color: #0090c8;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
  text-decoration: none;
}

@media (max-width: 576px) {
  #searchBox {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  #cartCount {
    margin-bottom: 10px;
  }
  #authBtnGroup {
    max-width: 290px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  #cartCount {
    margin-right: 10px;
  }
}

.cart {
  display: block;
  box-sizing: border-box;
}

@media (max-width: 991.98px) {
  .cart {
    overflow-x: auto;
  }
}

@media (max-width: 991.98px) {
  .cart-wrapper {
    min-width: 768px;
  }
}

.cart-header {
  padding: 1.2rem 2rem;
}

.cart-body {
  padding: 0 2rem;
}

.cart-item {
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.cart-title {
  margin-left: 1rem;
  color: rgb(22, 22, 22);
  font-weight: bold;
  text-align: left !important;
}

.radios .radio {
  padding: 1.2rem;
  background-color: #f8f9fa;
  /* border: 1px solid white; */
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.radios input[type="radio"] {
  display: none;
}

.radios input[type="radio"]:checked + .radio {
  background-color: #343a40;
  color: #f8f9fa;
}

.deliverySelection {
  width: 50%;
}

@media (max-width: 576px) {
  .deliverySelection {
    width: 100%
  }
}
