<footer class="bg-dark text-white">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-3">
                <h4>About Store</h4>
                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                <p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#"><i class="fab fa-twitter pr-2"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fab fa-facebook-f pr-2"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fab fa-linkedin pr-2"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fab fa-pinterest"></i></a>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-md-3">
                <h4>Customer Support</h4>
                <p>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        <!-- <li><a href="#">Returns/Exchange</a></li> -->
                        <!-- <li><a href="#">Gift Voucher</a></li> -->
                        <!-- <li><a href="#">Wishlist</a></li> -->
                        <!-- <li><a href="#">Special</a></li> -->
                        <!-- <li><a href="#">Customer Services</a></li> -->
                        <!-- <li><a href="#">Site maps</a></li> -->
                    </ul>
                </p>
            </div>
            <div class="col-md-3">
                <h4>Information</h4>
                <p>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'about' %}">About us</a></li>
                        <li><a href="{# url 'delivery' #}">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Support</a></li>
                        <!-- <li><a href="#">Order Tracking</a></li> -->
                    </ul>
                </p>
            </div>

            <div class="col-md-3">
                <h4>Contact Information</h4>
                <ul class="list-unstyled">
                    <li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
                    <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
                    <li><a href="#">Email</a></li>
                    <li><a href="#">yoursite.com</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copy">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    <span class="block">Copyright &copy; {% now "Y" %} by Author. All rights reserved</span>
                    </br>
                    <span class="block">Images by: <a href="http://unsplash.co/" target="_blank">Unsplash</a></span>
                    </br>
                    <span class="block"><a href="#">Back to top</a></span>
                </p>
            </div>
        </div>
    </div>
</footer>
