{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %} eCommerce in Django {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap  -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- FontAwesome CSS -->
        <link rel="stylesheet" href="{% static 'css/all.css' %}">
        <!-- Custom styles  -->
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    </head>

    <body>
        {% block nav %}
            <!-- Main nav bar -->
            {% include 'snippets/nav.html' %}
        {% endblock %}

        <div class="container">
            {% block store-nav %}
                <!-- Controls if product categories are displayed -->
                {% include 'snippets/store-nav.html' %}
            {% endblock %}

            {% block jumbotron %}
                <!-- Jumbotron Header (for featured products) -->
                {% include 'snippets/jumbotron.html' %}
            {% endblock %}

            {% block content %}
                <!-- For general content  -->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.
                </p>
            {% endblock %}
        </div>

        {% block footer %}
            <!-- Footer content -->
            {% include 'snippets/footer.html' %}
        {% endblock %}

        <!-- Scripts -->
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>

