{% extends 'base.html' %}

{% block title %} Contact {% endblock %}

{% block store-nav %}
    {% include 'snippets/store-nav.html' %}
{% endblock %}

<!-- Clear jumbotron -->
{% block jumbotron %} {% endblock %}

{% block content %}
<div class="mt-2 p-2">
    <h3>Contact</h3>
    <hr>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec arcu purus, varius nec dolor vel, pellentesque maximus orci. Donec ac nibh id turpis pretium eleifend. Cras gravida et erat quis placerat. Nunc ornare nulla est, eget condimentum est volutpat sed. Proin mollis euismod gravida. Aliquam at mattis ante, nec cursus ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
    <p>
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus ac fringilla velit, vitae ornare dolor. Fusce mollis elit et volutpat porttitor. Ut faucibus nunc at sem dapibus, faucibus commodo augue venenatis. Nulla tempor sem eu neque dictum aliquet. Curabitur nec mi vitae mi porttitor accumsan. Morbi at metus mauris. Pellentesque imperdiet, quam et tempor scelerisque, dolor ante pretium eros, sit amet scelerisque mauris arcu sed erat.
    </p>
    <p>
        Duis sit amet ullamcorper mi, id suscipit mi. Ut scelerisque justo orci, in auctor orci auctor non. Pellentesque eget purus eleifend, venenatis arcu eget, auctor enim. Mauris ut fringilla magna, id molestie sapien. Nunc laoreet justo vitae ligula commodo blandit. Quisque ultrices euismod felis, et mattis est euismod vitae. Pellentesque pretium quam eu nulla ultrices pretium. Sed laoreet est id lacus volutpat vehicula. Sed cursus neque ac leo pretium congue. Vestibulum sed massa aliquam, finibus massa ac, porta enim. Nam venenatis diam vel dui gravida vestibulum. Etiam in ex nec dolor facilisis condimentum. Vestibulum a sapien venenatis, lacinia eros id, faucibus massa.
    </p>
</div>
{% endblock %}
